#problem-description,
#problem-editorial {
    position: relative;
    height: 80vh;
}

#problem-description .ql-toolbar.ql-snow,
#problem-editorial .ql-toolbar.ql-snow {
    position : absolute;
    top : 0;
    background-color: #f3f3f3;
    width : 100%;
    z-index: 1;
}
#problem-description,
#problem-editorial {
    position: relative;
}

#problem-description .ql-toolbar.ql-snow,
#problem-editorial .ql-tooblar.ql-snow {
    position : absolute;
    top : 0;
    background-color: #f3f3f3;
    width : 100%;
    z-index: 1;
}

.ql-container {
    height : 80vh;
}

.ql-editor {
    overflow-y: scroll;
    padding-top: 3.1rem;
    height : 100%;
}

#problem-description .ql-syntax,
#problem-editorial .ql-syntax {
    color : darkblue;
    background-color: #f3f3f3;
}

@media (max-width : 1258px) {
    .ql-editor {
        padding-top : 4.6rem;
    }
}

@media (max-width : 715px) {
    .ql-editor {
        padding-top : 6.1rem;
    }
}

@media (max-width : 600px) {
    
    .ql-editor {
        padding-top : 4.6rem;
    }
}

@media (max-width : 548px) {
    .ql-editor  {
        padding-top : 6.1rem;
    }
}

@media (max-width : 415px) {
    .ql-editor {
        padding-top : 7.4rem;
    }
}